<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnnCES" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\ARQUIVO DE PROGRAMAS\SISTEMAPESAGEM02\DB\DBLGP.MDF;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Configurações do Sistema-->
    <add key="SIS_Local" value="false" />
    <!--Configurações da API-->
    <add key="API_BaseUrl" value="https://ces-api-gestaoagro-appservice.azurewebsites.net/api/" />
    <!--<add key="API_BaseUrl" value="https://localhost:44389/api/" />-->
    <add key="MAIL_Key" value="Prot3cnic@2021" />
    <add key="SyncTime" value="30000" />    
    <add key="SQL_20210802" value="" />
    <!--Configurações da Balança-->
    <add key="BAL_Type" value="JUNDIAI" />
    <add key="BAL_Token" value="60020936-F077-4C95-86FF-6C301F7A1325" />
    <add key="BAL_SerialPort" value="COM4" />
    <add key="BAL_BaudRate" value="9600" />
    <add key="BAL_Parity" value="0" />
    <add key="BAL_StopBits" value="1" />
    <add key="BAL_DataBits" value="8" />
    <add key="BAL_Handshake" value="0" />
    <!--Configurações da Impressora-->
    <add key="PRINT_Model" value="7" />
    <add key="PRINT_Port" value="COM6" />
    <!--Opções de largura: 48, 58, 76, 80 ou 112.-->
    <add key="PRINT_Width" value="80" />
    <add key="PRINT_CharMax" value="50" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>